@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_flex_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container_flex_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-panel {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.admin-left-side {
  width: 18%;
  height: 100%;
  background-color: #242121;
}

.admin_left_header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_left {
  width: 1.2%;
  height: 25%;
  background-color: #feaf00;
}

.header_title {
  font-family: "Montserrat", sans-serif;
  margin-left: 2%;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.admin_button_section {
  width: 80%;
  height: 80%;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  margin: 10px;
  border-radius: 5px;
}

button.selected {
  background-color: #feaf00;
  color: white;
  border: none;
  margin: 10px;
}

.admin_bottom {
  width: 80%;
  height: 10%;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.page-container {
  margin-left: 20px;
}

/*----------------------------------------------------------------------------------*/
.main_books {
  width: 80vw;
  height: 100%;
}

.books_header {
  width: 80vw;
  height: 20%;
}

.books_table_section {
  width: 75vw;
  height: 80%;
}

.col_1 {
  width: 35%;
  text-align: left;
}

.col_2 {
  width: 15%;
  text-align: left;
}

.col_3 {
  width: 25%;
  text-align: left;
}

.col_4 {
  width: 10%;
  text-align: left;
}

.btn_books {
  color: black;
}

.btn_modal_close {
  background-color: #feaf00;
}

/*----------------------------------------------------------------------------------*/
/* dashboard stylings */
/* Add these styles to your CSS file */
.word-box1 {
  background-color: #baf4fa;
  color: #ffffff;
  padding: 60px;
  border: 2px solid #baf4fa;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.word-box2 {
  background-color: #ffb9e5;
  color: #ffffff;
  padding: 60px;
  border: 2px solid #ffb9e5;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.word-box3 {
  background-color: #fde188;
  color: #ffffff;
  padding: 60px;
  border: 2px solid #fde188;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* .word-box4 {
  background-color: #feaf00;
  color: #ffffff;
  padding: 60px;
  border: 2px solid #feaf00;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
/* 
.word-box1:hover {
  background-color: #feaf00;
  cursor: pointer;
}
.word-box2:hover {
  background-color: #feaf00;
  cursor: pointer;
}
.word-box3:hover {
  background-color: #feaf00;
  cursor: pointer;
} */
/* .word-box4:hover {
  background-color: #feaf00;
  cursor: pointer;
} */

/* Add margin-bottom to create space between word boxes */
.word-box1,
.word-box2,
.word-box3 {
  margin-bottom: 10px;
}

/* signup */
.signup {
  margin: 0 auto;
  width: 500px;
  padding: 50px;
  background: #a7a6a3;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #242121;
}
.firstname {
  margin-top: 20px;
  text-align: left;
  margin: 30px 0;
}
.mb-3 {
  margin-top: 20px;
  text-align: left;
  margin: 30px 0;
}

.signup button {
  width: 100%;
  background-color: #feaf00;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.signup button:hover {
  background-color: #dd9701f5;
  color: #242121;
}
.register {
  font-size: 30px;
  margin-left: 120px;
}
.sm-text {
  margin-left: 90px;
}
.sm-text a {
  text-decoration: none;
}
.logintxt {
  font-size: 30px;
  margin-left: 150px;
}

.error {
  color: var(--error);
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.btnlogout {
  border-color: #feaf01;
  color: #feaf00;
  margin-top: 10px;
}
.btnlogout:hover {
  background-color: #feaf00;
  color: #242121;
  border-color: #feaf00;
}

.btn_add_new_book {
  background-color: #feaf00; /* Set your desired background color */
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px; /* Adjust padding to make it smaller */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Adjust font size to make it smaller */
  position: fixed; /* Change to fixed position */
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  width: 150px; /* Allow the button to adjust its width based on content */
}

.btn_add_new_book:hover {
  background-color: #c68700; /* Set your desired hover color */
}

/* FontAwesome icon styles */
.btn_add_new_book svg {
  margin-right: 6px; /* Adjust the spacing between the icon and text */
}

/* issued book page return button*/
.btn_custom {
  background-color: #feaf00; /* Green background */
  color: white; /* White text */
  border: 2px solid #feaf00; /* Green border */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Pointer cursor */
  border-radius: 5px; /* Rounded corners */
}

.btn_custom:hover {
  background-color: #c59400;
  color: white;
}

